/*-----------------------------------=========Main-Style-Sheet=========----------------------------------------*/

@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&family=Quicksand:wght@300;400;500;600;700&family=Rubik:wght@300;400;500;600;700;800&display=swap");
:root {
  --theme__color1: #0a58ee;
  --font1: "Quicksand", sans-serif;
  --font2: "Rubik", sans-serif;
  --font3: "Cabin", sans-serif;
}
*,
::before,
::after {
  box-sizing: border-box;
}
body {
  font-size: 16px;
  line-height: 1.2;
  background-color: #fff;
  overflow-x: hidden;
  word-wrap: break-word;
  word-break: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-family: var(--font1);
}
a,
a:active,
a:focus,
a:active,
a:hover {
  text-decoration: none !important;
  color: inherit;
}
input {
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
a:hover,
a:focus,
input:focus,
input:hover,
select:focus,
select:hover,
select:active,
textarea:focus,
textarea:hover,
button:focus {
  outline: none;
}
::placeholder {
  opacity: 1;
}
:focus::placeholder {
  opacity: 0;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed; /* Prevents HTML tables from becoming too wide */
  width: 100%;
}
img {
  -ms-interpolation-mode: bicubic;
  border: 0;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
iframe {
  width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 700;
}
h2,
.h2 {
  font-size: 35px;
  margin: 0 0 25px;
  font-weight: 700;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
p {
  font-size: 23px;
  line-height: 1.4;
  margin-bottom: 15px;
  color: rgba(0, 0, 0, 0.637);
  font-weight: 500;
}
p:last-child {
  margin: 0;
}
.main-wrap {
  width: 100%;
  overflow: hidden;
}
@media (min-width: 1200px) {
  .container {
    max-width: 1150px;
  }
}

/* header */
.header-section {
  padding: 40px 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
.header-section .container {
  display: flex;
  align-items: center;
}
.logo {
  display: flex;
}
.logo img {
}
.main-menu {
  margin: 0 0 0 60px;
}
.main-menu ul {
  display: flex;
}
.main-menu ul li {
  margin: 0 60px 0 0;
}
.main-menu ul li:last-child {
  margin: 0;
}
.main-menu ul li a {
  font-size: 18px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.89);
  transition: 0.3s;
}
.main-menu ul li a:hover {
  color: #fff;
}
/* header-end */

/* ---offcanvas-css--- */
.offcanvas-open {
  font-size: 22px;
  transition: 0.3s;
}
.offcanvas-open:hover {
  color: #97a3ae;
}
.offcanvas-close {
  color: #fff;
  position: absolute;
  transition: 0.3s;
  right: 25px;
  top: 25px;
}
.offcanvas-close:hover {
  color: #97a3ae;
}
.offcanvas-menu {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  transform: translateX(-105%);
  transition: 0.3s;
}
.offcanvas-menu.active {
  transform: translate(0);
}
.offcanvas-menu .offmenu {
  max-width: 250px;
  min-width: 200px;
  z-index: 5;
  position: relative;
  background: var(--theme__color1);
  height: 100%;
  padding: 50px 20px 40px;
  overflow: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.offcanvas-menu .offmenu :-webkit-scrollbar {
  display: none;
}
.offcanvas-menu ul li a {
  display: block;
  text-align: center;
  font-size: 16px;
  color: #fff;
  padding: 10px;
}
.dropdown-menu-custom ul {
  background: #fff;
  padding: 20px 0;
}
.dropdown-menu-custom ul li a {
  color: #97a3ae;
}
.offcanvas-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.178);
  z-index: 2;
  transform: 0;
  z-index: 900;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.offcanvas-overlay.active {
  opacity: 1;
  visibility: visible;
}
/* ---offcanvas-css-end---*/

/* --preloader-- */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}
#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #73469b;
  border-top-color: #e2eefd;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}
@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* --preloader-end-- */

/* blog-section */
.blog-bg {
  background-image: linear-gradient(to bottom right, blue, purple);
  height: "100%";
  width: "100%";
  background-attachment: fixed;
  /* background: url("images/hero-bg.png") no-repeat center center/100% 100%; */
}

.blob {
  height: 75vh;
  width: 75vw;
  transform: translate(0%, 8%);
  position: relative;
  margin: auto;
  text-align: center;
  padding: 10px 10px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blob-title {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  top: 20%;
  position: absolute;
  color: green;
  background-color: #9fed97;
}

.circle {
  height: 75vh;
  width: 75vh;
  background-color: white;
  border-radius: 50%;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  margin: auto;
  text-align: center;
  padding: 10px 10px;
}

.blog-circle {
  height: 30vh;
  width: 30vh;
  background-color: blue;
  border-radius: 50%;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

/* ---hero-section--- */
.hero-section {
  padding: 200px 0 300px;
  background: url("images/hero-bg.png") no-repeat center center/100% 100%;
}
.hero-content {
  font-family: var(--font3);
}
.hero-content h1 {
  font-size: 64px;
  margin: 0 0 40px;
  font-weight: 600;
  color: #fff;
}
.hero-content p {
  color: #fff;
  margin: 0 0 40px;
  font-weight: 400;
}
.hero-content .buttons-wrap {
}
.hero-content .buttons-wrap .button {
  margin-right: 20px;
}
/* ---hero-section---end--- */

/* ---technology-section---- */
.technology-section {
  padding: 80px 0 0px;
}
/* ---technology-section----end--- */

/* ---features-section--- */
.features-section {
  padding: 50px 0 0;
}
.features-wrap {
  padding: 30px 0 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.single-feature {
  width: 26%;
  margin-bottom: 30px;
  font-family: var(--font2);
}
.single-feature h3 {
  font-size: 18px;
  margin: 0 0 4px;
  font-weight: 700;
  color: #030f1a;
}
.single-feature h3 .blue-tag {
  font-family: var(--font1);
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  background: var(--theme__color1);
  padding: 1px 7px;
  margin-left: 4px;
  border-radius: 30px;
}
.single-feature p {
  font-size: 18px;
  color: #030f1a;
  font-weight: 400;
}
/* ---features-section---end--- */

/* ---price-card-section--- */
.price-card-section {
  padding: 320px 0;
  background: url("images/price-card-section-bg.png") no-repeat center
    center/100% 100%;
}
.price-card-wrap {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.price-card {
  width: 36%;
  padding: 45px 10px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: -24px 0px 30px rgba(0, 0, 0, 0.05),
    0px -24px 30px rgba(0, 0, 0, 0.05), 0px 24px 30px rgba(0, 0, 0, 0.05),
    24px 0px 30px rgba(0, 0, 0, 0.05);
}
.price-card h3 {
  font-size: 40px;
  margin: 0 0 40px;
  font-weight: 700;
}
.price-card h5 {
  font-size: 14px;
  font-weight: 400;
  margin: 0 0 35px;
}
.price-card p {
  color: #000;
  margin: 0 0 18px;
}
.price-card .button {
  margin: 10px 0 0;
}
.price-card.theme2 {
  background: linear-gradient(26.18deg, #0a58ee -4.62%, #6943d8 107.31%);
  color: #fff;
}
.price-card.theme2 p {
  color: #fff;
}
/* ---price-card-section---end--- */

/* ---waitlist-section--- */
.waitlist-section {
  padding: 50px 0 100px;
}

.form-group {
  margin-bottom: 10px;
}

.form-group > label {
  margin-bottom: 5px;
}

.team-wrap {
  padding: 50px 0 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.team-member {
  width: 45%;
}
.team-member .head-part {
  display: flex;
  align-items: center;
}
.team-member .head-part .image {
  width: 40%;
  flex-shrink: 0;
  max-width: 200px;
}
.team-member .head-part .image img {
  border-radius: 50%;
  width: 100%;
}
.team-member .head-part .text {
  padding: 0 15px;
  text-align: center;
  font-size: 24px;
  flex-grow: 1;
}
.team-member .head-part .text h3 {
  font-size: inherit;
  font-weight: 700;
}
.team-member .head-part .text h4 {
  font-size: inherit;
  font-weight: 400;
}
.team-member .content-part {
  padding: 60px 0 0;
}
.team-member .content-part {
}
/* ---team-section---end--- */

/* ---contact-section--- */
.contact-section {
  padding: 100px 0;
}
.contact-section .contact-form {
  padding: 10px 0 0;
}
.single-input {
  width: 100%;
  margin-bottom: 35px;
}
.single-input label {
  font-size: 22px;
  font-weight: 700;
}
.single-input .title-label {
  width: 100%;
  padding: 0 0 10px 30px;
  color: rgba(0, 0, 0, 0.808);
}
.single-input .input-outer {
  width: 100%;
}
.single-input .input {
  padding: 15px 30px;
  min-height: 64px;
  width: 100%;
  border: 2px solid #c4c4c4;
  border-radius: 32px;
  resize: none;
  font-size: 20px;
}
.single-input .input.big {
  height: 150px;
}
.single-input .submit-button {
  width: 100%;
  display: block;
  text-align: center;
  background: var(--theme__color1) !important;
  border: none;
  color: #fff;
  font-weight: 700;
  min-height: 49px;
  padding: 0;
}
/* ---contact-section---end--- */
